/* GENERALES */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    line-height: 1.5;
}

html, body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    background-color: #edf2f8;
}

/* GRID */
.testimonial-grid {
    width: 80%;
    height: 80%;
    display: grid;
    grid-gap: 3%; /*He puesto el gap en porcentaje para quitarselo a la grid porque sino me lo sumaba al 100% y se descentraba*/
    grid-template-columns: 23.5% 23.5% 23.5% 23.5%;
    grid-template-rows: 48.5% 48.5%;
    grid-template-areas:    "testimonial-1 testimonial-1 testimonial-2 testimonial-5"
                            "testimonial-3 testimonial-4 testimonial-4 testimonial-5";
}

/* ITEM */
section { /* todos los items */
    border-radius: .8rem;
    box-shadow: 15px 15px 54px -22px rgba(108,108,108,0.8);
    -webkit-box-shadow: 15px 15px 54px -22px rgba(108,108,108,0.8);
    -moz-box-shadow: 15px 15px 54px -22px rgba(108,108,108,0.8);
    padding: 1.5rem;
    color: white;
}


section:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: transform .1s ease-in-out;
}

section:not(:hover) {
    transform: scale(1);
    transition: transform .1s ease-in-out;
}

.testimonial-1 {
    grid-area: testimonial-1;
    background-color: hsl(263, 55%, 52%);
    background-image: url("images/bg-pattern-quotation.svg");
    background-repeat: no-repeat;
    background-position-x: 330px;
}

.testimonial-2 {
    grid-area: testimonial-2;
    background-color: hsl(217, 19%, 35%);
    
}

.testimonial-3 {
    grid-area: testimonial-3;
    background-color: white;
}

.testimonial-4 {
    grid-area: testimonial-4;
    background-color: hsl(219, 29%, 14%);
    
}

.testimonial-5 {
    grid-area: testimonial-5;
    background-color: white;
}

.testimonial__profile {
    display: flex;
    align-items: center;
}

.testimonial__profile__img {
    width: 3rem;
    border-radius: 50%;
    /* border: 2px solid blue; */
    margin-right: 1rem;
}

.testimonial__profile__text__status {
    font-weight: lighter;
    opacity: .5;
}

.testimonial__title {
    margin: .9rem 0;
}

.testimonial__description__p {
    opacity: .7;
    font-size: .85rem;
}

.color-oscuro {
    color: hsl(217, 19%, 35%);
}

@media screen and (max-width: 600px) {
    html, body {
        width: 100vw;
        height: 1780px;
        overflow: visible;
    }

    .testimonial-grid {
        width: 90%;
        height: 90%;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto;
        grid-template-areas:    "testimonial-1"
                                "testimonial-2"
                                "testimonial-3"
                                "testimonial-4"
                                "testimonial-5";
    }

    .testimonial-1 {
        background-position-x: 250px;
    }

}